<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <title>
      Artemis
    </title>
  </head>
  <body id="background">
    <header>
      Artemis 
    </header>
    <a href='index.html.erb'>
      <img id="logo">
    </a>
    <form>
      <input type="text" name="search" placeholder="Enter address...">
      <br>
      <button>Search</button>
    </form>
  </body>
</html>