<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/../../assets/stylesheets/application.css">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
    <title>
      Artemis
    </title>
  </head>
  <body id="background">
    <header>
      Artemis
    </header>
    <a href='/crimepoints/index'>
      <img id="logo">
    </a>
    <form action="/crimepoints/show">
      <input type="text" name="search" placeholder="Enter address...">
      <br>
      <button>Search</button>
    </form>
  </body>
</html>