#background{   
  background-image: url("http://static.thousandwonders.net/Painted.ladies.original.18179.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin:0;
}

header{
  background-color:#0077B5;
  text-align: center;
  font-size: 3.5em;
  margin-left:-5px;
  font-family: 'Helvetica', sans-serif;
  color: white;
  padding: 15px;
}

#logo{
  border-radius: 50%;
  height: 11%;
  width: 6.5%;
  left:10px;
  top: 10px;
  position: absolute;
}

form{
  margin-top: 6em;
  text-align: center;
}

form input{
  width: 10em;
  font-size:2.25em ;
}

form button{
  margin-top: 8.5px;
  width:7.5em;
  font-size:1.25em;
}
