#background{
  background-image: url("http://static.thousandwonders.net/Painted.ladies.original.18179.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin:0;
}

header{
  background-color:#0077B5;
  text-align: center;
  font-size: 3.5em;
  font-family: 'ABeeZee', sans-serif, 'Helvetica', 'Arial', sans-serif;
  color: white;
  padding: 15px;
}

#logo{
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/25/a7/63/25a763fc13c8026aff68926ed7788719.jpg");
  background-size:99%;
  border-radius: 50%;
  height: 11%;
  width: 6.5%;
  left:10px;
  top: 10px;
  position: absolute;
}

#search-container{
  border-radius: 3em;
  border-color:black;
  background-color: #0077B5;
  padding-bottom:1.5em;
  opacity: .8;
  margin-top:3em;
  margin-left: 30em;
  margin-right: 30em;
}

form{
  margin-top: 6em;
  text-align: center;
}

form input{
  width: 10em;
  font-size:2.25em;
}

form button{
  margin-top: 8.5px;
  width:7.5em;
  font-size:1.25em;
  border-radius: .5em;
  color:white;
  background-color: #0077B5;
}

#map-page{
  margin: 0;
}

#map {
  display: block;
  width: 100%;
  height: 450px;
  margin-top: 20px;
}

#legend {
  display: block;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Helvetica';
  font-size: 12px;
}

#color-grad {
  background: linear-gradient(to right, red,yellow,green);
  height:40px;
  width:300px;
}

#color-labels {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 300px;
  height: 40px;
}