*{
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

body{
  margin:0;
}

#background{
  background-image: url("http://static.thousandwonders.net/Painted.ladies.original.18179.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin:0;
}

header{
  background-color:#0077B5;
  text-align: center;
  font-size: 5.75em;
  font-family: 'ABeeZee', sans-serif, 'Helvetica', 'Arial', sans-serif;
  color: white;
  position:absolute;
  top: 0;
}

#logo{
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/25/a7/63/25a763fc13c8026aff68926ed7788719.jpg");
  background-size:99%;
  border-radius: 50%;
  height: 14.5%;
  width: 10%;
  left:25px;
  top: 20px;
  position: absolute;
}

form{
  margin-top: 1.25em;
  text-align: center;
}

form input{
  width: 10em;
  font-size:2.25em;
  font-family: 'ABeeZee', sans-serif, 'Helvetica', 'Arial', sans-serif;
}

form button{
  margin-top: 8.5px;
  width:7.5em;
  font-size:1.25em;
  border-radius: .5em;
  color:white;
  background-color: #0077B5;
  font-family: 'ABeeZee', sans-serif, 'Helvetica', 'Arial', sans-serif;
}

#search-container{
  border-radius: 3em;
  border-color:black;
  background-color: rgba(0, 119, 181,0.8);
  padding-bottom:1.5em;
  margin-top:15%;
  width:50%;
  margin-left:25%;
}

#new-search{
  position:relative;
  right:-15em;
  font-size:1.25em;
  border-radius: .3em;
  background-color: #fcfcfc;
}

#slogan{
  font-size:2em;
  color:white;
  font-family: 'ABeeZee', sans-serif, 'Helvetica', 'Arial', sans-serif;
}

#top_over_map{
  position: absolute;
  bottom: 46px;
  padding-bottom: 4px;
  padding-top: 4px;
  left: 170px;
  right: 170px;
  z-index: 99;
  background-color: #D5DCDE;
  color: #0077B5;
  font-family: 'Helvetica','Roboto','sans-serif';
  border-radius: 7px 7px 0px 0px;
  -webkit-justify-content: space-between;
  justify-content: space-around;
  display: flex;
}

#bottom_over_map{
  position: absolute;
  bottom: 25px;
  left: 170px;
  right: 170px;
  z-index: 99;
  background-color: #D5DCDE;
  color: #0077B5;
  font-family: 'Helvetica','Roboto','sans-serif';
  border-radius: 0px 0px 7px 7px;
  -webkit-justify-content:space-between;
  justify-content: space-around;
  display: flex;
  padding-bottom: 4px;
}

#map-page{
  margin: 0;
}


#map{
  display: block;
  width: 97%;
  height: 515px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#legend{
  display: block;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Helvetica';
  font-size: 12px;
}

#color-grad{
  background: linear-gradient(to right, red,yellow,green);
  height:40px;
  width:300px;
}

#color-labels{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 300px;
  height: 40px;
}

#floating-panel {
  position: absolute;
  top: 180px;
  left: 35%;
  z-index: 5;
  padding: 1px;
  border: none;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#new-search{
  position:relative;
  right:-15em;
  font-size:1.25em;
  border-radius: .3em;
  background-color: #fcfcfc;
}