<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css">
    <title>
      Artemis
    </title>
  </head>
  <body id="background">
    <header>
      Artemis
    </header>
    <img id="logo" src="../../public/artemis_logo.jpg">
    <form>
      <input type="text" name="search" placeholder="Search..">
    </form>
  </body>
</html>