<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css">
    <title>
      Artemis
    </title>
  </head>
  <body id="background">
    <header>
      Artemis
    </header>
  </body>
</html>